<div class="container">
	<form action="account" method="post"> //need to put action


<p><table></p>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Street</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Phone Number</th>
				<th>Email Address</th>
			</tr>
		</thead>
		<tbody>
			<%account.each do |contact|%>
			<tr>
				<td><%=contact["email"]%></td>email?
				<td><%=contact["last"] %></td>
				<td><%=contact["street"] %></td>
				<td><%=contact["city"] %></td>
				<td><%=contact["state"] %></td>
				<td><%=contact["zip"] %></td>
				<td><%=contact["phonenumber"] %></td>
				<td><%=contact["email"] %></td>
			</tr>
			<% end -%>
		</tbody>
	</table>


<%=session["email"]%>





	<p>
		<button type="submit" class="button">Continue Application</button>
		<button type="submit" class="button">Logout</button>
	</p>
</div>