<center>
<div id="review-header">Account Overview</div><br>
<div class="container pure-controls rounded-green">

<section>
    <form action="account" method="post">

        <p><table></p>
        <%accountinfo.each do |info| %>
            <tr>
                <th>First Name</th>
                <td><%=info["first"] %></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><%=info["last"] %></td>
            </tr>
            <tr>
                <th>Street</th>
                <td><%=info["street"] %></td>
            </tr>
            <tr>
                <th>City</th>
                <td><%=info["city"] %></td>
            </tr>
            <tr>
                <th>State</th>
                <td><%=info["state"] %></td>
            </tr>
            <tr>
                <th>Zip</th>
                <td><%=info["zip"] %></td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td><%=info["phonenumber"] %></td>
            </tr>
            <tr>
                <th>Email Address</th>
                <td><%=info["email"] %></td>
            </tr>
            <tr>
                <th>LinkedIn</th>
                <td><%=info["linkedin"] %></td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td><%=info["twitter"] %></td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td><%=info["facebook"] %></td>
            </tr>
            <tr>
                <th>Github</th>
                <td><%=info["github"] %></td>
            </tr>
            <tr>
                <th>Other</th>
                <td><%=info["other"] %></td>
            </tr>

            <%end%>

        </table>
    <br>
    </section> 

        <button type="submit" class="pure-button btn-mm">Continue Application</button>
</form>
<p></p>

        <form action="/save_quit" method="post">
        <button type="submit" class="pure-button btn-mm">Logout</button>
        </form>
    </p>
</div>
</div>
