<div class="container">
	<form action="account" method="post"> //need to put action


<p><table></p>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Street</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Phone Number</th>
				<th>Email Address</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td><%=session[:email]%></td>email?
				<td><%=session["last"] %></td>
				<td><%=session["street"] %></td>
				<td><%=session["city"] %></td>
				<td><%=session["state"] %></td>
				<td><%=session["zip"] %></td>
				<td><%=session["phonenumber"] %></td>
				<td><%=session["email"] %></td>
			</tr>
			
		</tbody>
	</table>


<%=session["email"]%>





	<p>
		<button type="submit" class="button">Continue Application</button>
		<button type="submit" class="button">Logout</button>
	</p>
</div>

