<center>
<div id="review-header">Review and Finalize Application</div><br>
<div class="container pure-controls rounded-green">

    <form action="p_info" method="post">
        Personal Info Table

    <p><table style="width:2%"></p>
            <%accountinfo.each do |info| %>
            <tr>
                <th>First Name</th>
                <td><%=info["first"] %></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><%=info["last"] %></td>
            </tr>
            <tr>
                <th>Street</th>
                <td><%=info["street"] %></td>
            </tr>
            <tr>
                <th>City</th>
                <td><%=info["city"] %></td>
            </tr>
            <tr>
                <th>State</th>
                <td><%=info["state"] %></td>
            </tr>
            <tr>
                <th>Zip</th>
                <td><%=info["zip"] %></td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td><%=info["phonenumber"] %></td>
            </tr>
            <tr>
                <th>Email Address</th>
                <td><%=info["email"] %></td>
            </tr>

            <%end%>

    </table>
        <button type="submit" class="pure-button button-warning">Edit</button>
    </form>
        <br>
    <form action="/questionpg1" method="post">
        Question 1-10

        Answers 1-10

        <p><table></p>
        <thead>
            <tr>
                <th>Question1</th>
                <th>Question2</th>
                <th>Question3</th>
                <th>Question4</th>
                <th>Question5</th>
                <th>Question6</th>
                <th>Question7</th>
                <th>Question8</th>
                <th>Question9</th>
                <th>Question10</th>
            </tr>
        </thead>
        <tbody>

            <%accountinfo.each do |info| %>

            <tr>
                <td><%=info["question1"] %></td>
                <td><%=info["question2"] %></td>
                <td><%=info["question3"] %></td>
                <td><%=info["question4"] %></td>
                <td><%=info["question5"] %></td>
                <td><%=info["question6"] %></td>
                <td><%=info["question7"] %></td>
                <td><%=info["question8"] %></td>
                <td><%=info["question9"] %></td>
                <td><%=info["question10"] %></td>
            </tr>


            <%end%>
        </tbody>
    </table>
        <button type="submit" class="pure-button button-warning">Edit</button>
    </form>
        <br>

    <form action="/questionpg2" method="post">
        Questions 11-20

        <p><table></p>
        <thead>
            <tr>
                <th>Question11</th>
                <th>Question12</th>
                <th>Question13</th>
                <th>Question14</th>
                <th>Question15</th>
                <th>Question16</th>
                <th>Question17</th>
                <th>Question18</th>
                <th>Question19</th>
                <th>Question20</th>
            </tr>
        </thead>
        <tbody>

            <%accountinfo.each do |info| %>

            <tr>
                <td><%=info["question11"] %></td>
                <td><%=info["question12"] %></td>
                <td><%=info["question13"] %></td>
                <td><%=info["question14"] %></td>
                <td><%=info["question15"] %></td>
                <td><%=info["question16"] %></td>
                <td><%=info["question17"] %></td>
                <td><%=info["question18"] %></td>
                <td><%=info["question19"] %></td>
                <td><%=info["question20"] %></td>
            </tr>


            <%end%>
        </tbody>
    </table>
        <button type="submit" class="pure-button button-warning">Edit</button>
    </form>
        <br>
    <form action="/send_email" method="post">
        <button type="submit" class="pure-button button-go">Submit Application</button> OR
        <button onclick="goBack()" class="pure-button btn-mm">Go Back</button>
    </form>
</div>
</center>   

